@using Northwind.Models
@model CategoryProductsModel

    <div class="bg-primary m-1 p-1 text-white"><h4>@Model.category Products</h4></div>

<ul>

        @foreach (Product product in Model.Products)
{
        <li>
            @product.ProductName - @product.UnitPrice - @product.UnitsInStock
        </li>
        }
</ul>


<hr />