<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="newTicketSystem.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="newTicketSystem.Properties.Settings.BITSQL" connectionString="Data Source=bitsql.wctc.edu;Initial Catalog=TicketingSystem_JRA;Persist Security Info=True;User ID=jayer1;Password=000030732"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <applicationSettings>
        <newTicketSystem.Properties.Settings>
            <setting name="moviefilePath" serializeAs="String">
                <value>task.csv</value>
            </setting>
        </newTicketSystem.Properties.Settings>
    </applicationSettings>
</configuration>