@using Northwind.Models
@model CategoryProductsModel

<div class="container-fluid">

    <table class="table table-hover">
        <thead>
            <tr>
                <th scope="col">Product</th>
                <th scope="col" class="text-right">Price</th>
                <th scope="col" class="text-right">Stock</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Product product in Model.Products)
            {
                <tr>
                    <td>@product.ProductName</td>
                    <td class="text-right">$@product.UnitPrice</td>
                    <td class="text-right">@product.UnitsInStock</td>
                </tr>

            }
        </tbody>
    </table>
    </div>
    <hr />
